.header {
  display: flex;
  justify-content: space-between;
  color: #161412;
  align-items: center;
  padding: 0 105px;
  height: 5rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  display: block;
  width: 3.3rem;
  height: 2rem;
  margin-right: 1rem;
}

.logo-name {
  font-size: 2rem;
  font-weight: 400;
}

.nav {
  display: flex;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.menu-item {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.8rem;
  text-transform: uppercase;
  margin-right: 2.8rem;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-item a {
  text-decoration: none;
  color: inherit;
}
